
// header styling
.nav__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 0px;
  height: 100%;
  p{
    display: inline-block;
  }
}
.logo{
  width: 133px;
  height: 30.97px;
  a{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.nav__List{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-bottom: 0px;
  max-width: 502.99px;
  width: 100%;
  a{
    margin-right: 49px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.57rem;
    color: #303134;
    line-height: 2.6rem;
    font-weight: 600;
    transition: .3s ease all;
    position: relative;
    &::after{
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0px;
      bottom: 5px;
      background-color: red;
    }
    &:hover{
      color: inherit;
      font-weight: 900;
      text-decoration: none;
    }
    &:last-of-type{
      margin-right: 0px;
    }
  }
}

@media (max-width: 767.98px){
  
}