*{
  margin: 0px;
  padding: 0px;
}
html{
  font-size: 62.5%;
  font-size: 10px;
  overflow-x: hidden;
}
.container{
  max-width: 1200px !important;
  width: 100%;
}
.nav__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // max-height: 81px;
  padding: 25px 0px;
  height: 100%;
  p{
    display: inline-block;
  }
}
.logo{
  width: 133px;
  height: 30.97px;

}
.nav__List{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 0px;
  max-width: 502.99px;
  width: 100%;
  a{
    margin-right: 49px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.57rem;
    color: #303134;
    line-height: 3.7rem;
    font-weight: 600;
    transition: .3s ease all;
    position: relative;
    &::after{
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0px;
      bottom: 5px;
      background-color: red;
    }
    &:hover{
      color: inherit;
      font-weight: 900;
      text-decoration: none;
    }
    &:last-of-type{
      margin-right: 0px;
    }
  }
}