.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 25px 0px;
  height: 100%;
}

.nav__container p {
  display: inline-block;
}

.logo {
  width: 133px;
  height: 30.97px;
}

.logo a {
  width: 100%;
  height: 100%;
}

.logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 0px;
  max-width: 502.99px;
  width: 100%;
}

.nav__List a {
  margin-right: 49px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.57rem;
  color: #303134;
  line-height: 2.6rem;
  font-weight: 600;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
}

.nav__List a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 5px;
  background-color: red;
}

.nav__List a:hover {
  color: inherit;
  font-weight: 900;
  text-decoration: none;
}

.nav__List a:last-of-type {
  margin-right: 0px;
}

.main__slider {
  padding-top: 115px;
  padding-bottom: 43px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main__slider .slick-slide {
  outline: none;
}

.ssl {
  margin-bottom: 135.5px;
}

.ssl .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
}

.ssl .slick-arrow {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ssl .slick-arrow .slick-next::before {
  width: 30px;
  height: 30px;
  font-size: 30px !important;
}

.main__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 586px;
  width: 100%;
}

.offer__stiker {
  width: 287px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.offer__stiker img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer__stiker p {
  z-index: 1;
  font-size: 2.1rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #006CD1;
  margin-top: 5px;
}

.services__wrapper {
  padding: 79px 0px 49px 0px;
}

.services__slider {
  width: 100%;
}

.services__container .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  outline: none;
}

.services__details {
  max-width: 240.99px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service_details-subtitle {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #8D8D8D;
  margin-bottom: 6.7px;
}

.service_details-title {
  font-size: 2.6rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: #1A1A1B;
  text-transform: capitalize;
  margin-bottom: 7.7px;
}

.zeg {
  width: 46.3px;
  height: 3.75px;
  margin-bottom: 28.6px;
}

.zeg img {
  width: 100%;
  height: 100%;
}

.service_details-description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #8D8D8D;
}

.service__card {
  width: 269.07px;
  height: 327.42px;
  margin-bottom: 21px;
  margin-right: 2px;
}

.service_card-img {
  width: 100%;
  height: 181px;
  margin-bottom: 22.4px;
}

.service_card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.service_card-header {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #1A1A1B;
  margin-bottom: 8.8px;
}

.service_card-description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #8D8D8D;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 62.5%;
  font-size: 10px;
  overflow-x: hidden;
}

.container {
  max-width: 1200px !important;
  width: 100%;
}

.main__header {
  font-size: 7.874rem;
  line-height: 5.874rem;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 26.7px;
  font-family: 'Arial', sans-serif !important;
  white-space: nowrap;
}

.sub__header {
  font-size: 1.8rem;
  line-height: 3.7rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.mouse__down {
  max-width: 21px;
  width: 21px;
  height: 32px;
  position: relative;
  margin: auto;
}

.mouse__down img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.video__container {
  position: relative;
  height: auto;
}

.video__container .tour__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.video_container-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding-top: 67px;
}

.section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 52.7px;
}

.section_header-subtitle {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 6.7px;
}

.section_header-title {
  font-size: 2.6rem;
  line-height: 2.8rem;
  color: #fff;
  margin-bottom: 7.8px;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 4px solid #4B54FA;
  width: 663px;
  height: 314px;
  overflow: hidden;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.video .video-react {
  padding: 0px !important;
  width: 100%;
}
/*# sourceMappingURL=App.css.map */